
.magic-cards .Mui-expanded {
    margin: 0 !important;
}

.magic-cards .MuiAccordion-root:first-of-type {
    border-radius: 50px !important;
}

.magic-cards .MuiAccordion-root:last-of-type {
    border-radius: 0 0 50px 50px !important;
    transition-delay: unset !important;
}

.magic-cards .MuiAccordion-root:before {
    display: none;
}
